#nodeinfo-table {
  margin: 0 auto;
  text-align: center;
}
#table-name {
  margin: 0 auto;
  text-align: center;
}
#podlog-title {
  margin: 0 auto;
  text-align: center;
}
#podlog {
  margin: 0 auto;
  text-align: center;
}
#podlog-table {
  margin: 0 auto;
  text-align: center;
}