<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <form method="post" action="/node">
        <h3> node信息查询</h3>
        <input type="text" name='nodeid' placeholder="输入nodeid"> <input type="submit" value="查询">
        <br/>
    </form>
    <form method="post" action="/msisdn">
        <h3> 流量卡信息查询</h3>
        <input type="text" name='msidsm' placeholder="输入流量卡卡号"> <input type="submit" value="查询">
        <br/>
    </form>
    <form method="post" action="/podlog">
        <h3> node日志信息查询</h3>
        <input type="text" name='nodeid_for_log' placeholder="输入nodeid"> <input type="submit" value="查询">
        <br/>
    </form>
</body>
</html>